@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/img/solar-8244679_1280.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding-top: 100px; /* Space for fixed header */
}

/* Header Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: rgba(172, 10, 10, 0.9);
    display: flex;
    justify-content: center;
    z-index: 100;
}

.navigation {
    display: flex;
    gap: 10px;
}

.navigation a {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navigation a:hover {
    color: rgb(0, 0, 0);
}

img {
    position: absolute;
    right:10px; /* Moves the image 20px from the left of the navbar */ 
    top: 10px; /* Moves the image 10px from the top of the navbar */
}



/* FAQ Section */
.title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.questions-container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

/* Question Box */
.question {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.question button {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: none;
    font-size: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    transition: background 0.3s;
}

.question button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.question p {
    font-size: 18px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 1.5;
    padding: 0 15px;
    transition: all 0.6s ease;
}

/* Show the answer when toggled */
.question p.show {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 20px;
}

/* Dropdown Arrow */
.d-arrow {
    transition: transform 0.5s ease-in;
}

.question button .d-arrow.rotate {
    transform: rotate(180deg);
}
